/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-image: url('/woodtexture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    min-height: 100vh;
}
